.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1051,h_591/v1653688498/assets/2c/3833ca-a2eb-4da4-9879-51193ea88f87/original/DotCom_Update_Earner_bg_med2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 640px;
    width: 100%;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 450px;
    background-color: #fff;
}
.input {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 400px;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.logo {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: bold;
}
.note {
    color: rgb(146, 154, 154);
    font-size: small;
    margin-top: 20px;
    margin-left: 20px;
}
